@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Quicksand');


$ff:'Raleway', sans-serif;;
//$bg:  #FECDAA ;
$bg: white;
$wh: white;
$abs: absolute;
$menu: #FCFFEB;
$searchOrg: none;
$ntnu: #093A80;
//$orgFont: #2e485e;
$orgFont: $ntnu;
$menuTransparent: rgba(252, 240, 230, 1);


body{
  background-color: $bg;
  font-family: $ff;
  margin: 0px;

}
//Top menu
.menu{
  display: flex;
  justify-content: flex-end;
  width: 100%; 
}

.menu button{
  background-color: inherit;
  color: $orgFont;
  border: none;
  font-size: 0.7em;
  margin: 0.5em 2em 0.5em 0.5em;
}

.menu button:hover{
  background-color: $orgFont;
  color: $bg;
}
#searchEngine{
  width:57%;
  border-top-color: $wh;
  padding: 2em;
}

//Page title
h1{
  font-size: 50px;
  left:17.4%;
  color: $orgFont;
  margin-left: 24%;
}

//General positioning of search field and search results
.rullebane{
  width: 100%;
  margin: 2%;
  border: 0px;
  background-color: inherit;
}

.extraPadding{
  padding: 2% 4% 0% 0%;
  border: solid $orgFont 1px;
}

.mainContent{
  position: relative;
  display: flex;
  justify-content: flex-start;
}

//Search field
#searchBar{
  font-size: 1.2em;
  background-color: $bg;
  padding: 2%;
  border: solid $orgFont 1px;
  color: $orgFont;
}

input[type=text]:focus, textarea:focus{
  box-shadow: 0 0 5px $orgFont;
  outline: none;
}

//Search results
#searchEngine ul{
  font-size: small;
  list-style: none;
  //padding: 0% 0% 0% 4%;
  padding: 0px;
}

#favouriteList ul{
  font-size: small;
  list-style: none;
  padding: 0px;
}

.resultTitle{
  font-size: 1.5em;
  //padding: 0.5em;
  padding: 1% 1% 2% 3%;
  color: $orgFont;
  cursor: default;
  cursor: default;
}

.resultTitle:hover{
  color: #6290C3;
}

.favIcon{
  width: 1em;
  float: right;
}

//Course view styling
.CourseDetails{
  background-color:  #2e485e;
  padding-bottom: 1em;
  margin-top: 0em;
  margin-left: 0em;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.8em;
  font-weight: Light;
  color: $wh;
  border: solid $wh 1px;
}

strong{
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.8em;
}

.topInfo{
  display: flex;
  justify-content: space-around;
}

.bottomInfo{
  display: flex;
  justify-content: center;
  font-size: 0.8em;
}

//Search organization: sorting and filters
#searchOrg{
  padding: 0.5em;
  margin: 3% 2% 2% 0%;
  width: 15%;
  color: $orgFont;
  border: solid $orgFont 1px;
  border-left: none;
  text-align: center;
  height: 100%;
}
#searchOrg h4{
  font-size: 0.8em;

}

#sortButtons button{
  border: solid $orgFont  1px;
  background-color: inherit;
  color: $orgFont;
  text-transform: uppercase;
  padding: 1em;
}

#sortButtons button:hover{
  background-color: $orgFont;
  color: $bg;
}

#sortButtons, #filterButtons{
  border: solid $menuTransparent 0px;
  margin: 0.5em;
  padding: 0.5em;
}

.filterBlock {
 text-align: center;
 border-bottom: solid $orgFont 1px;
 padding: 1em 0em 1em 0em;
 font-family: 'Quicksand', sans-serif;
 width: 100%;
 
}

.filterBlock span{
  text-transform: uppercase;
  font-family: $ff;
  font-size: 0.8em;
}

#filterButtons ul{
  margin: 0px;
  padding: 0px;
}

.filterOptions{
  padding: 0.2em;
  display: flex;
  justify-content: space-between;
}

#wordcloud{
  list-style: none;
}

.word{
  cursor: default;
  position: absolute;
  user-select: none;
  left: -100%;
  z-index: 0;
  transform: scale(1);
  transition: transform 0.5s;
}

.word:hover{
  transform: scale(1.2);
  z-index: 1;
  transition: transform 0.5s;
}

#wordPopup{
  transform: scale(0);
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  width: 110px;
  height: 25px;
  background-color: white;

  opacity: 0.7;
}

#wordcloud:hover #wordPopup{
  transform: scale(1);
  transition: transform 0.5s;
  transform-origin: bottom right;
}
#favouriteList h2{
  font-size: 35px;
  left:17.4%;
  color: $orgFont;
  margin-left: 24%;
}

#favouriteView{
  margin-left: 10%;
  width: 80%;
}
