@import 'https://fonts.googleapis.com/css?family=Karla';
h1 {
  color: #369;
  font-family: 'Karla', sans-serif;
  font-size: 250%;
}
h3, h4 {
  color: #444;
  font-family: 'Karla', sans-serif;
  font-weight: lighter;
}
#content{
 margin: 2em;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #369;
    width: 100%;
}

#nav li {
    float: left;
    font-size: 18px;
    font-family: 'Karla', sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.filter-group{
  font-family: 'Karla', sans-serif;
}


#studentView h3{
  font-weight: bold;
}
#studentView label, input{
  font-family: 'Karla', sans-serif;
}

#favorites{
	width: 50%;
	float: right;
}
#seach-result{
	width: 50%; 
	float: left;
}

